@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,600;0,700;0,900;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}
.list 
{
    position: relative;
    display: flex;
    flex-direction: column;
}
.list li
{
    list-style: none;
}
.list li a
{
    position: relative;
    display: flex;
    font-size: 4em;
    line-height: 1em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.list li a span
{
    position: relative;
    transition: 0.5s;
    overflow: hidden;
}
.list li a span .out
{
    display: inline-flex;
}
.list li a:hover span .out
{
    transform: translateY(-100%);
}
.list li a span .in
{
    position: absolute;
    left: 0;
    color: #2aa1ff;
    transform: translateY(100%);
}
.list li a:hover span .in
{
    transform: translateY(0);
}